<a href="https://colab.research.google.com/github/vanesamp07/Consultas-en-multiples-tablas-SQL/blob/main/Vanesa_Martinez_desafio2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Inicialmente, le pedimos al usuario ingresar los dos primeros numeros interos mediante un int(entero) y un input

In [23]:
numero1 = int(input("Ingrese el primer numero entero: "))

Ingrese el primer numero entero: 9

In [24]:
numero2 = int(input("Ingrese el segundo numero entero: "))

Ingrese el segundo numero entero: 39

Revisamos que el primer numero entero sea menor que el segundo

In [25]:
if numero1 > numero2:
    numero1, numero2 = numero2, numero1

Realizamos la suma utilizando ciclo for y range

In [26]:
suma_pares = sum(numero for numero in range(numero1, numero2 + 1) if numero % 2 == 0)

Imprimimos el resultado de la suma de los pares entre ambos numeros ingresados

In [27]:
print("La suma de todos los números pares entre", numero1, "y", numero2, "es:", suma_pares)

La suma de todos los números pares entre 9 y 39 es: 360